<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, width=device-width">
    <title>空闲时间登记</title>
    <link href="../stylesheets/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="spare-tit"><h3>空闲时间登记</h3></div>
<div class="spare-content">
    <form>
        <legend>星期一</legend>
        <ul class="checkBox-list">
            <li class="checkBox-wrapper"><input type="checkbox" class="MonSpareTime"><span
                    class="checkBox-view myspan1">一二节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="MonSpareTime"><span
                    class="checkBox-view myspan1">三四节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="MonSpareTime"><span
                    class="checkBox-view myspan1">五六节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="MonSpareTime"><span
                    class="checkBox-view myspan1">七八节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="MonSpareTime"><span
                    class="checkBox-view myspan1">九十节</span></li>
        </ul>

        <legend>星期二</legend>
        <ul class="checkBox-list">
            <li class="checkBox-wrapper"><input type="checkbox" class="TueSpareTime"><span
                    class="checkBox-view myspan2">一二节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="TueSpareTime"><span
                    class="checkBox-view myspan2">三四节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="TueSpareTime"><span
                    class="checkBox-view myspan2">五六节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="TueSpareTime"><span
                    class="checkBox-view myspan2">七八节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="TueSpareTime"><span
                    class="checkBox-view myspan2">九十节</span></li>
        </ul>

        <legend>星期三</legend>
        <ul class="checkBox-list">
            <li class="checkBox-wrapper"><input type="checkbox" class="WedSpareTime"><span
                    class="checkBox-view myspan3">一二节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="WedSpareTime"><span
                    class="checkBox-view myspan3">三四节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="WedSpareTime"><span
                    class="checkBox-view myspan3">五六节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="WedSpareTime"><span
                    class="checkBox-view myspan3">七八节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="WedSpareTime"><span
                    class="checkBox-view myspan3">九十节</span></li>
        </ul>

        <legend>星期四</legend>
        <ul class="checkBox-list">
            <li class="checkBox-wrapper"><input type="checkbox" class="ThuSpareTime"><span
                    class="checkBox-view myspan4">一二节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="ThuSpareTime"><span
                    class="checkBox-view myspan4">三四节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="ThuSpareTime"><span
                    class="checkBox-view myspan4">五六节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="ThuSpareTime"><span
                    class="checkBox-view myspan4">七八节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="ThuSpareTime"><span
                    class="checkBox-view myspan4">九十节</span></li>
        </ul>

        <legend>星期五</legend>
        <ul class="checkBox-list">
            <li class="checkBox-wrapper"><input type="checkbox" class="FriSpareTime"><span
                    class="checkBox-view myspan5">一二节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="FriSpareTime"><span
                    class="checkBox-view myspan5">三四节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="FriSpareTime"><span
                    class="checkBox-view myspan5">五六节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="FriSpareTime"><span
                    class="checkBox-view myspan5">七八节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="FriSpareTime"><span
                    class="checkBox-view myspan5">九十节</span></li>
        </ul>

        <legend>星期六</legend>
        <ul class="checkBox-list">
            <li class="checkBox-wrapper"><input type="checkbox" class="SatSpareTime"><span
                    class="checkBox-view myspan6">一二节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="SatSpareTime"><span
                    class="checkBox-view myspan6">三四节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="SatSpareTime"><span
                    class="checkBox-view myspan6">五六节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="SatSpareTime"><span
                    class="checkBox-view myspan6">七八节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="SatSpareTime"><span
                    class="checkBox-view myspan6">九十节</span></li>
        </ul>

        <legend>星期天</legend>
        <ul class="checkBox-list">
            <li class="checkBox-wrapper"><input type="checkbox" class="SunSpareTime"><span
                    class="checkBox-view myspan7">一二节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="SunSpareTime"><span
                    class="checkBox-view myspan7">三四节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="SunSpareTime"><span
                    class="checkBox-view myspan7">五六节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="SunSpareTime"><span
                    class="checkBox-view myspan7">七八节</span></li>
            <li class="checkBox-wrapper"><input type="checkbox" class="SunSpareTime"><span
                    class="checkBox-view myspan7">九十节</span></li>
        </ul>
        <input type="button" value="提交" class="submit-btn" id="submit-btn" style="margin-top: 30px">
    </form>
</div>
<script src="../javascripts/client.js"></script>
</body>
</html>