<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, width=device-width">
    <title>空闲时间登记</title>
    <link href="../stylesheets/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="spare-tit"><h3>空闲时间登记</h3></div>
<div class="spare-content">
    <form>
        <fieldset>
            <legend>星期一</legend>
            <input type="checkbox" class="MonSpareTime">一、二节
            <input type="checkbox" class="MonSpareTime">三、四节
            <input type="checkbox" class="MonSpareTime">五、六节
            <input type="checkbox" class="MonSpareTime">七、八节
            <input type="checkbox" class="MonSpareTime">九、十节
        </fieldset>

        <fieldset>
            <legend>星期二</legend>
            <input type="checkbox" class="TueSpareTime">一、二节
            <input type="checkbox" class="TueSpareTime">三、四节
            <input type="checkbox" class="TueSpareTime">五、六节
            <input type="checkbox" class="TueSpareTime">七、八节
            <input type="checkbox" class="TueSpareTime">九、十节
        </fieldset>

        <fieldset>
            <legend>星期三</legend>
            <input type="checkbox" class="WedSpareTime">一、二节
            <input type="checkbox" class="WedSpareTime">三、四节
            <input type="checkbox" class="WedSpareTime">五、六节
            <input type="checkbox" class="WedSpareTime">七、八节
            <input type="checkbox" class="WedSpareTime">九、十节
        </fieldset>
        <fieldset>
            <legend>星期四</legend>
            <input type="checkbox" class="ThuSpareTime">一、二节
            <input type="checkbox" class="ThuSpareTime">三、四节
            <input type="checkbox" class="ThuSpareTime">五、六节
            <input type="checkbox" class="ThuSpareTime">七、八节
            <input type="checkbox" class="ThuSpareTime">九、十节
        </fieldset>
        <fieldset>
            <legend>星期五</legend>
            <input type="checkbox" class="FriSpareTime">一、二节
            <input type="checkbox" class="FriSpareTime">三、四节
            <input type="checkbox" class="FriSpareTime">五、六节
            <input type="checkbox" class="FriSpareTime">七、八节
            <input type="checkbox" class="FriSpareTime">九、十节
        </fieldset>

        <fieldset>
            <legend>星期六</legend>
            <input type="checkbox" class="SatSpareTime">一、二节
            <input type="checkbox" class="SatSpareTime">三、四节
            <input type="checkbox" class="SatSpareTime">五、六节
            <input type="checkbox" class="SatSpareTime">七、八节
            <input type="checkbox" class="SatSpareTime">九、十节
        </fieldset>

        <fieldset>
            <legend>星期天</legend>
            <input type="checkbox" class="SunSpareTime">一、二节
            <input type="checkbox" class="SunSpareTime">三、四节
            <input type="checkbox" class="SunSpareTime">五、六节
            <input type="checkbox" class="SunSpareTime">七、八节
            <input type="checkbox" class="SunSpareTime">九、十节
        </fieldset>


        <input type="button" value="提交" class="submit-btn" id="submit-btn">
    </form>
</div>
<script src="../javascripts/client.js"></script>
</body>
</html>