<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, width=device-width">
    <title>我的空闲时间</title>
    <link href="../stylesheets/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="my-spare-tit"><h3>我的空闲时间</h3></div>
<div class="my-spare-content">
    <table style="margin:50px auto"  class="my-spare-table">
        <thead class="my-spare-table-tit">
        <tr>
            <td></td>
            <th>星期一</th>
            <th>星期二</th>
            <th>星期三</th>
            <th>星期四</th>
            <th>星期五</th>
            <th>星期六</th>
            <th>星期天</th>
        </tr>
        </thead>
        <tbody class="my-spare-time-content">
        <tr>
            <td class="whichClass">一、二节</td>
            <td></td>
            <td>√</td>
            <td></td>
            <td></td>
            <td>√</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="whichClass">三、四节</td>
            <td></td>
            <td>√</td>
            <td></td>
            <td></td>
            <td>√</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="whichClass">五、六节</td>
            <td></td>
            <td>√</td>
            <td></td>
            <td></td>
            <td>√</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="whichClass">七、八节</td>
            <td></td>
            <td>√</td>
            <td></td>
            <td></td>
            <td>√</td>
            <td></td>
            <td></td>
        </tr>
        <tr >
            <td class="whichClass">九、十节</td>
            <td></td>
            <td>√</td>
            <td></td>
            <td></td>
            <td>√</td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="change-spare-time" id="change-spare-time">
    <a href="http://localhost:9090">修改</a>
</div>
</body>
</html>