<legend>星期一</legend>
<ul class="checkBox-list">
    <li class="checkBox-wrapper"><input type="checkbox" class="MonSpareTime"><span
            class="checkBox-view myspan1">一、二节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="MonSpareTime"><span
            class="checkBox-view myspan1">三、四节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="MonSpareTime"><span
            class="checkBox-view myspan1">五、六节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="MonSpareTime"><span
            class="checkBox-view myspan1">七、八节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="MonSpareTime"><span
            class="checkBox-view myspan1">九、十节</span></li>
</ul>

<legend>星期二</legend>
<ul class="checkBox-list">
    <li class="checkBox-wrapper"><input type="checkbox" class="TueSpareTime"><span
            class="checkBox-view myspan2">一、二节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="TueSpareTime"><span
            class="checkBox-view myspan2">三、四节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="TueSpareTime"><span
            class="checkBox-view myspan2">五、六节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="TueSpareTime"><span
            class="checkBox-view myspan2">七、八节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="TueSpareTime"><span
            class="checkBox-view myspan2">九、十节</span></li>
</ul>

<legend>星期三</legend>
<ul class="checkBox-list">
    <li class="checkBox-wrapper"><input type="checkbox" class="WedSpareTime"><span
            class="checkBox-view myspan3">一、二节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="WedSpareTime"><span
            class="checkBox-view myspan3">三、四节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="WedSpareTime"><span
            class="checkBox-view myspan3">五、六节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="WedSpareTime"><span
            class="checkBox-view myspan3">七、八节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="WedSpareTime"><span
            class="checkBox-view myspan3">九、十节</span></li>
</ul>

<legend>星期四</legend>
<ul class="checkBox-list">
    <li class="checkBox-wrapper"><input type="checkbox" class="ThuSpareTime"><span
            class="checkBox-view myspan4">一、二节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="ThuSpareTime"><span
            class="checkBox-view myspan4">三、四节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="ThuSpareTime"><span
            class="checkBox-view myspan4">五、六节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="ThuSpareTime"><span
            class="checkBox-view myspan4">七、八节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="ThuSpareTime"><span
            class="checkBox-view myspan4">九、十节</span></li>
</ul>

<legend>星期五</legend>
<ul class="checkBox-list">
    <li class="checkBox-wrapper"><input type="checkbox" class="FriSpareTime"><span
            class="checkBox-view myspan5">一、二节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="FriSpareTime"><span
            class="checkBox-view myspan5">三、四节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="FriSpareTime"><span
            class="checkBox-view myspan5">五、六节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="FriSpareTime"><span
            class="checkBox-view myspan5">七、八节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="FriSpareTime"><span
            class="checkBox-view myspan5">九、十节</span></li>
</ul>

<legend>星期六</legend>
<ul class="checkBox-list">
    <li class="checkBox-wrapper"><input type="checkbox" class="SatSpareTime"><span
            class="checkBox-view myspan6">一、二节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="SatSpareTime"><span
            class="checkBox-view myspan6">三、四节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="SatSpareTime"><span
            class="checkBox-view myspan6">五、六节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="SatSpareTime"><span
            class="checkBox-view myspan6">七、八节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="SatSpareTime"><span
            class="checkBox-view myspan6">九、十节</span></li>
</ul>

<legend>星期天</legend>
<ul class="checkBox-list">
    <li class="checkBox-wrapper"><input type="checkbox" class="SunSpareTime"><span
            class="checkBox-view myspan7">一、二节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="SunSpareTime"><span
            class="checkBox-view myspan7">三、四节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="SunSpareTime"><span
            class="checkBox-view myspan7">五、六节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="SunSpareTime"><span
            class="checkBox-view myspan7">七、八节</span></li>
    <li class="checkBox-wrapper"><input type="checkbox" class="SunSpareTime"><span
            class="checkBox-view myspan7">九、十节</span></li>
</ul>