<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, width=device-width">
    <title>更新空闲时间</title>
    <link href="../stylesheets/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="spare-tit"><h3>更新空闲时间</h3></div>
<div class="spare-content">
    <form>
        <%for(var i=0;i<7;i++){%>
        <legend><%=myWeekDay[i]%></legend>
        <ul class="checkBox-list">
            <%for(var j=0;j<5;j++){%>
            <li class="checkBox-wrapper"><input type="checkbox" class=<%=myClassName[i]%>
                <%=mySpareTime[i][j]?"checked":""%> ><span
                        class="checkBox-view <%='myspan'+(i+1)%>"><%=myWeekClass[j]%></span></li>
            <%}%>
        </ul>
        <%}%>
        <input type="button" value="修改" class="submit-btn" id="re-submit-btn" style="margin-top: 30px">
    </form>
</div>
<script src="../javascripts/client.js"></script>
</body>
</html>