*{
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #666;
}


.spare-tit,.my-spare-tit{
  height: 40px;
  line-height:40px;
  background: #0066cc;
  color: #F6F6F6;
  position: fixed;
  width: 100%;
  top: 0px;
  box-shadow:0 5px 5px #ccc;
}

.spare-tit h3,.my-spare-tit h3{
  text-align: center;
  color: #FFF;
  font-size: 16px;
}

.spare-content{
  min-height: 500px;
  width: 90%;
  margin: 0px auto;
  margin-top: 50px;
  /*border: 1px solid #ccc;*/
}

.spare-content form fieldset{
  height: 100px;
  box-sizing: border-box;
  line-height: 20px;
  padding-top: 20px;
  padding-left: 10px;
  margin-bottom: 15px;
}

input[type='checkbox']{
  height: 15px;
  width: 15px;
  display: inline-block;
  border: #ccc;
  border-radius: 20px;
  vertical-align: middle;
}


.submit-btn{
  width: 100%;
  height: 40px;
  background: #0066cc;
  color: #F6F6F6;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  margin-top:25px;
  margin-bottom: 50px;
}



.my-spare-content{
  min-height: 200px;
  width: 90%;
  margin: 0px auto;
  margin-top: 80px;
}

.my-spare-table{
  height: 300px;
  border: 1px solid #ccc;
}

.my-spare-table-tit{
  height: 40px;
  background: #e8e8e8;
}

.my-spare-table-tit tr{
  height: 30px;
}

.my-spare-time-content{
  background: #e8e8e8;
}

.my-spare-time-content tr{
  height: 25px;
}

.my-spare-time-content tr td{
  text-align: center;
  font-weight: bolder;
  font-size: 21px;
  color: green;
}

.my-spare-time-content tr .whichClass{
  font-weight: normal;
  color: #666666;
  font-size: 14px;
}

.change-spare-time{
  width: 90%;
  margin: -20px auto;
  float: left;
}

.change-spare-time a{
  color: #0066cc;
  float:right;
  margin-right: 0px;
  font-size: 16px;
  text-decoration: none;
}

